/* The Modal (background) */
.mymodal {
     position: relative;
    display: none;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Modal Content */
.mymodal-content {
    display: none;
    width: 160px;
    height: 45px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
}

/* Popup arrow */
.mymodal-content::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
/*Menu styling*/
.menu {
    width: 200px;
}
  
.menu a {
    background-color: #aa6fd1;
    color: black;
    display: block;
    padding: 12px;
    text-decoration: none;
}
  
.menu a:hover {
    background-color: #3f8fc4;
}
  


table{
    width: 100%;
}
table, th, td {
    border: 3px solid #5355b9;
    border-collapse: collapse;
}

td {
    padding: 15px;
    text-align: left;
}

th{
    font-weight:lighter;
    background-color: #5355b9;
    color: white;
}
td{
    background-color: white;
    color: black;
    font-weight: bold;
}
 
